* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --white: #ffffff;
  --icon-color: #616465;
  --greyish-white: #ecf0f1;
  --border: #c7c7c7;
  --border-light: #e0e0e0;
  --green-theme: #00ac47;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.menu-bar {
  height: 2.8rem;
  background: #00ac47;
  display: flex;
  align-items: end;
  padding-left: 1.5rem;
}
.menu-bar > span{
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
.menu-bar > span:hover{
  background:#00943e;
}
.menu-bar > span:nth-child(2){
  background: var(--greyish-white);
  color: var(--green-theme);
}
.tool-bar {
  height: 2.5rem;
  background: var(--greyish-white);
  padding-inline: 2rem;
  display: flex;
  align-items:end;
}
#form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tool{
  height: 31px;
  width: 31px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--border);
  background: #fff;
  color: #616465;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tool>span{
  font-size: 22px;
}
.tool:hover{
  background: #d3e3fd;
  color: #173059;
  transition: all .2s;
}
.active-tool{
  background: #d3e3fd;
  color: #173059;
}
.tool-bar select{
  color: #616465;
  height: 24px;
  border: 1px solid var(--border);
  border-radius: 2px;
}
/* hiding inputs */
.hidden-input{
  height: 0;
  width: 0;
}
.hidden-input:checked + label{
  background: #d3e3fd;
  color: #173059;
}
.formula-position-bar {
  height: 2.2rem;
  background: var(--greyish-white);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.position{
  width: 74px;
  height: 24px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid var(--border);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding-top: 4px;
}
.formula-div{
  flex-grow: 1;
}
.formula-div>input{
  outline: none;
  width: 100%;
  height: 24px;
  border-radius: 2px;
  padding-inline: 4px;
  border: 1px solid var(--border);
}
#dataContainer {
  height: calc(100vh - 4.3rem - 2.5rem - 2.2rem - 2.4rem);
  overflow: scroll;
}
#sheetBar {
  height: 2.2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--greyish-white);
}
.scroller-add-btn{
  /* width: 87px; */
  display: flex;
  align-items: center;
}
.sheets{
  height: 100%;
  /* flex-grow: 1; */
  width: fit-content;
  padding-inline: 4px;
  border: 1px solid var(--border);
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
}
.left-scroll,
.right-scroll,
.add-sheet-btn{
  cursor: pointer;
}
.left-scroll:active,
.right-scroll:active,
.add-sheet-btn:active{
  border: 1px solid;
  border-radius: 50%;
}
.sheets>div{
  border-bottom: 3px solid #00ac47;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}
.sheets>div:hover{
  border-bottom: 3px solid #00ac47;
  padding: 4px 8px;
  background: var(--border-light);
}
#dataHead {
  height: 26px;
  width: fit-content;
  display: flex;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 1;
}
#sNo{
  position: sticky;
  left: 0;
}
#cellContainer{
  width: fit-content;
}
#dataBody {
  height:  100%;
  display: flex;
}

.header-cell{
  min-width: 100px;
  min-height: 26px;
  font-size: 14px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
}
.corner-blankCell{
  position: sticky;
  left: 0;
  min-width: 46px;
  border: 1px solid var(--border);
  border-right: 3px solid var(--border);
  border-bottom: 3px solid var(--border);
  background-color: var(--white);
}
.sNo-cells{
  min-width: 46px;
  min-height: 26px;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background-color: var(--white);
}
.row{
  min-height: 26px;
  display: flex;

}
.cell{
  min-width: 100px;
  padding: 2px 3px;
  font-size: 12px;
  border: 1px solid var(--border-light);
}

@media screen and (max-width:426px) {
  .menu-bar, .tool-bar{
    & ::-webkit-scrollbar{
      display: none;
    }
    overflow-x: scroll;
  }
}